
.banniere{
   background: url(img/homebg.png) no-repeat top center;
   background-size: cover;
   position: relative;
   height: 59em;

}
.banniere-2{
   background: url(img/homebg-2.png) no-repeat top center;
   background-size: cover;
   position: relative;
   height: 59em;

}

.banniere-3{
   background: url(img/bg-covid.png) no-repeat top center;
   background-size: cover;
   position: relative;
   height: 59em;

}

.banniere-4{
   background: url(img/bg-healthy.png) no-repeat top center;
   background-size: cover;
   position: relative;
   height: 59em;
}
.fixed-top {
   background-color: rgba(255, 255, 255, 0);
   transition: background-color 2s ease 0s;
   color: white;
   padding-left: 5%;
   padding-right: 5%;
 }

 
 .fixed-top .h-style {
   transition: color 2s ease 0s;
   font-family: 'Concert One', cursive;
   color: white;
   margin-left: 10px;
 }

 .fixed-top.opaque {
   background-color:rgb(255, 255, 255);
  }

 .fixed-top.opaque .h-style {
    color:rgb(0, 12, 117);
   }
 
 .fixed-top ul.navbar-nav li>a {
   transition: color 2s ease 0s;
   color:rgb(233, 233, 233);
   font-family: 'Concert One', cursive;
 }

 .fixed-top.opaque ul.navbar-nav li>a {
    color:rgb(0, 135, 212);
   }
 .fixed-top.opaque ul.navbar-nav li>a:hover {
    color:#00218f;
   }

.navbar-nav{
   padding-left: 30%;
}

.btn{
 margin-left: 30%;
}
.space{
   height: 20%;
}
.title-2{
   color: white; 
   font-family: 'Jura', sans-serif;
   font-size: 60px;
}

html {
   scroll-behavior: smooth;
  }

.btn-savoir{
   background-color: rgba(129, 129, 129, 0.048);
   color: rgb(73, 80, 119);
   border: none;
   border-radius: 10px;
}

.enregistrement{
   padding: 4%;
   margin-top: 1em;
   border:rgba(255, 255, 255, 0.194) solid 1px;
   text-align: center;
}

.btn-record{
   box-shadow:inset 0px 0px 20px 3px #143978;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Jura', sans-serif;
	font-size:15px;
	padding:9px 80px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;

}

 

.btn-submit{
   box-shadow:inset 0px 0px 20px 3px #3966b0;
	background-image: linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
	background-color:#2a66c7;
	border-radius:17px;
	border:1px solid #2862b8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
   font-family: 'Jura', sans-serif;


}

.bar {
   border: 1px solid rgba(179, 179, 179, 0.671);
   margin-left: -8px;
   height: 10px;
   width: 100%;

}

.in {
     animation: fill 33s linear 1;
     height: 100%;
     background-color: rgb(22, 186, 251);
}

.in-2 {
   transition-delay: 6s;
   animation: fill 36s linear 1;
   height: 100%;
   background-color: rgb(22, 186, 251);
}
 

.row-card{
   margin-top: 40px; 
   text-align: center;
   align-items: center;
}

.card-img-top{
   width: 200px;
   height: 200px;
}

.card{
   align-items: center;
   background-color: rgba(255, 255, 255, 0.787);
   font-family: 'Jura', sans-serif;
   color: rgb(4, 4, 47);
}

.card-text-2{
   color: rgb(102, 102, 102);
}


.ligne{
   
   background-color: rgb(5, 24, 109);
   width: 10px;
   height: 20em;
}

.col-time{
   height: 20em;
   width: 300px;
   
}

.timeline{
   border-radius: 30px;
   border-color: darkblue;
   background-color: rgb(231, 233, 236);
}

.rond{
   background-color: rgb(8, 58, 223);
   height: 20px;
   width: 20px;
   border-radius: 10px;
   margin-left: -5px;
   margin-top: 30px;
}

.col-left{
   padding-top: 2em;
   margin-left: 20px;
   font-family: 'Jura', sans-serif;
}

.title-time{
   font-family: 'Concert One', cursive;
   font-size: 30px;
   color: rgb(19, 19, 219);
}

.title-3{
   font-family: 'Jura', sans-serif;
   
}

.text-2{
   font-family: 'Jura', sans-serif;
   background-color: rgba(14, 14, 77, 0.897);
   color: rgb(255, 255, 255);
   text-align: center;
   padding: 8px;
   opacity: 0%;
}

.text-2.animation-text{
   opacity: 100%;
   -webkit-animation: slide-in-right 1s linear both;
	        animation: slide-in-right 1s linear both;
}

.text-3{
   opacity: 0%;
}

.text-3.animation-text{
   opacity: 100%;
   -webkit-animation: slide-in-left 1s linear both;
	        animation: slide-in-left 1s linear both;
}


.message-alert{
   font-family: 'Jura', sans-serif;
   color: white;

}

.message-alert-important{
   animation: 1s linear 1s infinite alternate slidein;

}

.title-consigne{
   font-family: 'Jura', sans-serif;
   font-size: 40px;
   color:rgb(0, 0, 0);
}

p{
   font-family: 'Jura', sans-serif;
}

.form-contact{
   background-color: rgba(255, 255, 255, 0.623);
   padding: 50px;
}


@keyframes slidein {
   from { opacity: 0%; }
   to   { opacity: 100%;  }
 }

@keyframes fill {
   0% {
     width: 0%;
   }
   100% {
     width: 100%;
   }
 }

 @keyframes slide-in-right {
   0% {
     transform: translateX(1000px);
     opacity: 0;
   }
   100% {
     transform: translateX(0);
     opacity: 1;
   }
 }

 @keyframes slide-in-left {
   0% {
     transform: translateX(-1000px);
     opacity: 0;
   }
   100% {
     transform: translateX(0);
     opacity: 1;
   }
 }
