{% extends 'base.html' %}




{% block body %}
<div class="banniere-2">
    <div class="container">
        <div class="row" style="padding-top: 8em;">
            <div class="col">
                <h1 class="title-2"> Notre équipe </h1>
            </div>
            <div class="col" style="text-align: right;">
                <img src="../static/img/efrei.png" height="90%" width="50%">
            </div>
        </div>
        <div class="row" style="margin-top: 2%;">
            <p style="color: rgba(255, 255, 255, 0.329);font-family: 'Jura', sans-serif;"> L'équipe de TousseAntiCovid
                est constituée de 6 étudiants en première année du du cycle d'ingénieur dans la filière Bio-informatique
                à EFREI PARIS. Vous retrouverez davantages d'informations sur notre équipe ainsi que notre projet </p>
        </div>
        <div class="row row-card">
            <div class="card-deck">

                <div class="card">
                    <img class="card-img-top" src="../static/img/loic.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">LECOMTE Loïc </h5>
                        <p class="card-text">Responsable Technique</p>
                        <p class="card-text-2"> Amélioration de la productivité du travail, mise place de la stratégie
                            tout au long du projet et supervision de l'aspect technique.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../static/img/capucine.png" style="width: 220px; "
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">GRANDCLAUDE Capucine</h5>
                        <p class="card-text">Représentante</p>
                        <p class="card-text-2"> Représentante et gestion des relations au sein du groupe ainsi que
                            envers l'équipe enseignante. </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../static/img/gul.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">YILMAZ Gül</h5>
                        <p class="card-text">Responsable DataSet</p>
                        <p class="card-text-2"> Responsable de la recherche, du tri et de la qualité des données
                            utilisées pour développer notre projet</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-card">
            <div class="card-deck">

                <div class="card">
                    <img class="card-img-top" src="../static/img/baudouin.png" height="350px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"> DE LAVIGNE Baudouin </h5>
                        <p class="card-text">Responsable Technique</p>
                        <p class="card-text-2">Responsable de la mise en service de la transformée de Fourier, mise en
                            oeuvre des aspects techniques du projet</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../static/img/yasmine.png" height="350px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">MAASSOULI Yasmine</h5>
                        <p class="card-text">Responsable Web</p>
                        <p class="card-text-2"> Responsable de la mise en service du site web, et gestion de la
                            communication du projet</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../static/img/chourouk.png" height="350px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">JDIDI Chourouk</h5>
                        <p class="card-text">Design</p>
                        <p class="card-text-2">Responsable de la charte graphique, des designs, interfaces et rendus du
                            projet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 25em;">
    <h2 class="title-2" style="color: rgb(70, 69, 143);margin-bottom:1em;margin-top:2em;"> Notre parcours </h2>
    <div class="row ">
        <div class="col">
            <iframe width="809" height="370" src="https://www.youtube.com/embed/xyWDbRwEDbA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col text-2">
            Après avoir réalisé pendant deux ans une classe préparatoire bio-numérique intégrée au sein de l'Efrei,
            ces 6 étudiants ont décidés de poursuivre leurs parcours dans cette section multidisciplinaire. C'est au
            cours de la première année du cycle ingénieur que ce projet vu le jour. Cette majeur mélant
            programmation et biologie, représente une source d'apprentissage qui stimule notre équipe de par leur
            sensibilité au monde médical.
        </div>
        <div>

        </div>
    </div>

    <div style="text-align: center;">
        <h1 style="margin-top: 10%;font-family: 'Concert One', cursive;"> Timeline </h1>
    </div>
    <div class="timeline" style="margin-top: 10%;">

        <div class="row">
            <div class=" col col-time ">
                <div class="col-left">
                    <p class="title-time">7 juin</p>
                    <p>Formation de l'équipe</p>
                    <img src="../static/img/equipe-de-travail.png" width="30%" height="30%" style="margin-left: 30%;">
                </div>
            </div>
            <div class="ligne">
                <div class="rond"> </div>
            </div>
            <div class=" col col-time"></div>
        </div>
        <div class="row">
            <div class=" col col-time"></div>
            <div class=" ligne">
                <div class="rond"> </div>
            </div>
            <div class=" col col-time ">
                <div class="col-left">
                    <p class="title-time">16 juin</p>
                    <p>Recherche et tri des données</p>
                    <img src="../static/img/imprimante-3d.png" width="30%" height="30%" style="margin-left: 30%;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col col-time">
                <div class="col-left">
                    <p class="title-time">23 juin</p>
                    <p>Fonctionnement du premier modèle </p>
                    <img src="../static/img/cerveau.png" width="30%" height="30%" style="margin-left: 30%;">
                </div>
            </div>
            <div class=" ligne">
                <div class="rond"> </div>
            </div>
            <div class=" col col-time"></div>
        </div>
        <div class="row">
            <div class=" col col-time"></div>
            <div class=" ligne">
                <div class="rond"> </div>
            </div>
            <div class=" col col-time">
                <div class="col-left">
                    <p class="title-time">5 juillet</p>
                    <p>Ouverture du site internet</p>
                    <img src="../static/img/apprentissage-en-ligne.png" width="30%" height="30%"
                        style="margin-left: 30%;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col col-time">
                <div class="col-left">
                    <p class="title-time"> Futur</p>
                    <p>Ouverture d'une application mobile</p>
                    <img src="../static/img/livre-audio.png" width="30%" height="30%" style="margin-left: 30%;">
                </div>
            </div>
            <div class=" ligne">
                <div class="rond"> </div>
            </div>
            <div class=" col col-time"></div>
        </div>

    </div>

    <div style="color: rgb(192, 192, 192);">Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/turkkub"
            title="turkkub">turkkub</a> from <a href="https://www.flaticon.com/fr/"
            title="Flaticon">www.flaticon.com</a></div>
</div>



{% endblock %}