<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/main.css" media="all" />
    <title>TousseAntiCovid</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" style="display: flex;" href="/">
            <img src="../static/img/LogoBlanc.png" width="25" height="25">
            <h5 class="h-style">TOUSSE ANTI COVID</h5>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            More
        </button>
        <div id="navbarContent" class="collapse  navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about">QUI SOMMES NOUS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">AUTOTEST</a>
                </li>
            </ul>
            <button type="button" class="btn btn-primary"> Espace Administrateur</button>
        </div>

    </nav>
    {% block body %}{% endblock %}


    <div style="min-height: 10em;"></div>



<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div style="color: rgb(192, 192, 192);">Icônes conçues par  <a href="https://www.flaticon.com/fr/auteurs/vectors-market" title="Vectors Market">Vectors
            Market</a> <a href="https://www.flaticon.com/fr/auteurs/turkkub"
            title="turkkub">, Turkkub</a> <a href="https://www.freepik.com" title="Freepik">, Freepik</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
    </section>
        
    <section >
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class=" fw-bold mb-4">
              Tousse Anti Covid
            </h6>
            <p>
              Intelligence Artficielle basée sur la reconnaissance de la contraction du Covid sur un patient.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">ONGLETS </h6>
            <p>
              <a href="/" class="text-reset">Autotest</a>
            </p>
            <p>
              <a href="/about" class="text-reset">Qui sommes nous ?</a>
            </p>
            <p>
              <a href="/contact" class="text-reset">Contactez nous</a>
            </p>
          </div>
    
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4"> Liens utiles </h6>
            <p>
              <a href="https://www.efrei.fr" class="text-reset">Efrei Paris</a>
            </p>
            <p>
              <a href="https://www.ameli.fr/assure/covid-19/tester-alerter-proteger-comprendre-la-strategie-pour-stopper-lepidemie/les-tests-de-depistage-de-la-covid-19/en-cas-de-test-positif-la-covid-19" class="text-reset">Ameli</a>
            </p>
          </div>
    
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4"> Auteurs</h6>
            <p><i class="fas fa-home me-3"></i> LECOMTE Loïc</p>
            <p><i class="fas fa-phone me-3"></i> YILMAZ Gül</p>
            <p><i class="fas fa-print me-3"></i> MAASSOULI Yasmine </p>
            <p><i class="fas fa-print me-3"></i> DE LAVIGNE Baudouin </p>
            <p><i class="fas fa-print me-3"></i> GRANDCLAUDE Capucine </p>
            <p><i class="fas fa-print me-3"></i> JDIDI Chourouk </p> 
          </div>

        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">© 2021 TousseAntiCovid</div>
  </footer>



    <script>
        var app = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: {
                user: "Anonyme",
                audio_save: ""
            },
        })
    </script>
   

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    
    
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 10) {
                $('.fixed-top').addClass('opaque');
            } else {
                $('.fixed-top').removeClass('opaque');
            }
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 900) {
                $('.text-2').addClass('animation-text');
            } else {
                $('.text-2').removeClass('animation-text');
        }
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 900) {
                $('.text-3').addClass('animation-text');
            } else {
                $('.text-3').removeClass('animation-text');
        }
        });
    </script>

    
</body>

</html>