{% extends 'base.html' %}




{% block body %}
<div class="banniere-4">
    <div class="space"></div>
    <div class="container">
        <div class="row">
            <h2 class="title-2"> Vous n'avez pas le COVID </h2>
            <img src="../static/img/like.png" height="100" width="100" style="margin-left:20px;filter :  drop-shadow(0 0 0.75rem rgba(138, 200, 172, 0.459));;">
        </div>
        <div class="row">
            <p class="message-alert"> Détection NÉGATIVE du Covid-19 sur cette échantillon de toux </p>
        </div>
        <div class="row">
            <img src="../static/img/attention.png" height="30" width="30">
            <p> Une PCR est nécessaire afin de valider ce diagnostic </p>
        </div>
    </div>

</div>

{% endblock %}
