{% extends 'base.html' %}



{% block body %}

<div class="banniere">
    <div class="space"></div>
    <div id="app" class="container">
        <div class="row">
            <div class=" col-8 ">
                <h1 class="title-2"> Allez y, toussez. </h1>
                <button class="btn-savoir"> @TousseAntiCovid</button>
                <div style="height:60%;"></div>
                <div style="text-align:center;">

                    <a href="#section1"><img src="../static/img/fleche.png" width="60" height="60"></a>
                </div>

            </div>
            <div class=" col-4">
                <div class="row" style="display: grid;">
                    <img src="../static/img/Micro.png" width="350" height="350">

                    <form action="/test" method="post">
                        <input id="RecordButton" class="btn-record download-btn" type="submit" name="upvote"
                            value="Démarrer l'enregistrement" />
                        <div class="countdown"> </div>
                    </form>
                </div>
                <div class="row">

                    <div id="enregistrement" class="enregistrement">
                        <p style="font-family: 'Jura', sans-serif; color:rgba(80, 80, 80, 0.79);">Choisir un
                            enregistrement</p>
                        <form action="/refresh" method="POST" enctype="multipart/form-data">
                            <input type="file" name="file" accept="audio/*">
                            <br>
                            <input class="btn-submit" type="submit" value="Analyser">
                        </form>
                    </div>
                </div>
                <div class="bar">
                    <div id="fill" class="fill"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col">
            <img src="../static/img/Esquisse.png" width="400" height="400">
        </div>
        <div class="col">
            <h1 id="section1" style="margin-top: 5%; font-family: 'Concert One', cursive;"> Tousse Anti Covid </h1>
            <p>
                TousseAntiCovid est une intelligence artificielle capable de détecter si VOUS avez le covid à partir
                de votre toux. Ce projet à été réalisé par 6 étudiants d'Efrei Paris, si vous souhaitez en savoir
                plus rejoignez nous dans la rubrique <a href="/about"> Qui sommes nous ?</a>.

            </p>
            <p>
                Vous retrouverez ci-dessus l'interface afin d'effectuer votre autotest.
            </p>
            <p>
                Une remarque ? Des Questions ? La rubrique <a href="/contact"> Contact </a> est a votre disposition.
            </p>
            <p>
                A bientôt, de l'équipe TousseAntiCovid.
            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 7em;">
        <h3 class="title-2" style="color: rgb(5, 18, 93);font-size: 50px;"> Technologies utilisées</h3>
    </div>
    <div class="row " style="margin-top: 2em;">
        <div class="col text-3">
            <img src="../static/img/python.png" width="300" height="300">
        </div>
        <div class="col text-2" style="background-color: rgb(84, 128, 170);">
            TousseAntiCovid est une intelligence artificielle basée sur le Machine learning, et plus
            particulièrement le Deep Learning. Utilisant des compétences en Python, elle est capable de déterminer à
            partir d'une toux si le covid à le COVID.
            <ul style="text-align: left;margin-top: 2em;">
                <li>Python</li>
                <li>CSS/HTML</li>
                <li>JS</li>
                <li>Flask</li>
                <li>Jinja2</li>
            </ul>
        </div>
    </div>
</div>




<script type="text/javascript">
    const downloadBtn = document.querySelector(".download-btn");
    const countdown = document.querySelector(".countdown");
    var timeLeft = 5;

    downloadBtn.addEventListener("click", () => {
        downloadBtn.style.display = "none";

        var downloadTimer = setInterval(function timecount() {
            timeLeft -= 1;
            countdown.innerHTML = "L'enregistrement est en cours <span>" + timeLeft + "  </span> sec restantes"
            if (timeLeft <= 0) {
                clearInterval(downloadTimer)
            }
        }, 1000);
        document.getElementById("fill").className = "in-2";
    });

    const testbutton = document.querySelector(".btn-submit");
    testbutton.addEventListener("click", () => {
        document.getElementById("fill").className = "in";
    });

</script>

{% endblock %}